<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Formulario</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!">Raúl</a></li>
        <li><a href="#!">González</a></li>
        <li><a href="#!">Cardona</a></li>
        <li><a href="#!">A01654995</a></li>
      </ul>
    </div>
  </nav>
</div>
<app-formulario></app-formulario>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">GD #4 - Minimum Viable Product</h5>
        <p class="grey-text text-lighten-4">
          Desarrolla un producto mínimo viable utilizando tecnologías de desarrollo web.
          Graba un video que explique de qué se trata tu producto y como se utiliza.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright Text
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
